
body, html, #container {
    background-color: rgb(61, 61, 61);
    color: white;
}

.list-element {
    background-color: rgb(90, 90, 90);
}

a {
    color: white;
}


h2, h3, h4, h5, h6, .slim-input {
    color: rgb(194, 194, 194);
}

ul {
    color: white;
}

.zp {
    color: rgb(109, 155, 255);
}

.functional-btn {
    color: rgb(223, 223, 223);
}

label, input {
    color: white;
}

.btn {
    color: rgb(109, 155, 255);
}

.rec-list-recursive {
    color: rgb(109, 155, 255);
}

.rec-list-recursive:hover, .rec-list-normal:hover {
    background-color: rgb(109, 155, 255);
    color: rgb(61, 61, 61);
}

#rec-new-item-container {
    background-color: rgb(90, 90, 90);
}